name: Deploy website


on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        # Use npm install to generate/update lockfile if versions mismatch
        run: npm install

      - name: Build website
        run: npm run build

      - name: Deploy to Azure Storage
        uses: TravisSpomer/deploy-to-azure-storage@v1.5.0
        with:
          source-path: dist
          sas-url: ${{ secrets.DEPLOY_SAS_URL }}
